@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic);

 /* style tambahan */
body{
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.kategori_close{
	padding:0 3px;
	border-radius:10px;
}
.kategori_close:hover{
	color:#FFF !important;
	background:#D91E18 !important;
}
.btn-kt{
	margin:5px;
}
.rb h4{
	font-weight:normal;
}
.rb hr{
	border:1px solid #EEE;
	margin:10px;
}
.pengumuman_teks{
	display:block;
	text-transform:capitalize;
	border-bottom:1px dotted #999;
	margin:3px;
}
.page-number{
	margin-top:20px;
}
 /* end style tambahan */